<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
        <!-- Row -->
        <div class="social-widget">
            <div class="soc-header box-twitter">
                {{project?.projectName}}
            </div>
            <div fxLayout="row" fxLayoutWrap="wrap" class="text-center">
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" class="p-20 b-r">
                    <h3 class="font-medium m-0">client Full Name</h3>
                    <span class="text-muted">{{project?.clientFullName}}</span>
                </div>
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" class="p-20 b-r">
                    <h3 class="font-medium m-0">client Phone</h3>
                    <span class="text-muted">{{project?.clientPhone}}</span>
                </div>
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" class="p-20 b-r">
                    <h3 class="font-medium m-0">location</h3>
                    <span class="text-muted">{{project?.location}}</span>
                </div>
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" class="p-20 b-r">
                    <h3 class="font-medium m-0">agreement</h3>
                    <span class="text-muted">{{project?.agreement}}</span>
                </div>
                <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="p-20">
                    <h3 class="font-medium  m-0">create dAt</h3>
                    <span class="text-muted">{{project?.createdAt}}</span>
                </div>
            </div>

            <div fxLayout="row" fxLayoutWrap="wrap" class="text-center">
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" class="p-20 b-r">
                    <h3 class="font-medium m-0">quotation</h3>
                    <span class="text-muted">{{project?.quotation  | currency: "ILS":"symbol"}}</span>
                </div>
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" class="p-20 b-r">
                    <h3 class="font-medium m-0">paid</h3>
                    <span class="text-muted">{{project?.paid  | currency: "ILS":"symbol"}}</span>
                </div>
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" class="p-20 b-r">
                    <h3 class="font-medium m-0">unPaid</h3>
                    <span class="text-muted">{{project?.quotation - project?.paid  | currency: "ILS":"symbol"}}</span>
                </div>
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" class="p-20 b-r">
                    <h3 class="font-medium m-0">haregem</h3>
                    <span class="text-muted">{{project?.haregem}}</span>
                </div>
                <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="p-20">
                    <h3 class="font-medium  m-0">updated dAt</h3>
                    <span class="text-muted">{{project?.updatedAt   }}</span>
                </div>
            </div>
        </div>
    </mat-card>
</div>