.course-header {
    color: #fff;
    .mat-card-title {
      font-size: 15px !important;
      display: flex;
      align-items: center;
 
      .course-duration {
        margin-left: auto;
        display: flex;
        align-items: center;
      }
    }
  }
 
  .mat-card-actions {
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    padding: 8px 0 !important;
  }
 