
      <mat-card style="height: 87%;">
        <mat-card-header class="course-header" style="background-color: #fc4b6c">
        <mat-card-title>
          <span class="course-name">Get Salaries By Month</span>
          <span class="course-duration">
            <mat-icon class="m-r-10">paid</mat-icon>
          </span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="text-center">
        <p class="m-b-5">Please Choose Date</p>
        <ejs-datepicker
          start="Year"
          [value]="currentDate"
          format="MM/yyyy"
          depth="Year"
          placeholder="Enter date"
          (change)="getSelectedDate($event)"
        ></ejs-datepicker>
      </mat-card-content>
      <mat-card-actions class="text-center">
        <button mat-button (click)="submit()">Get Salaries</button>
      </mat-card-actions>
    </mat-card>

    

