<h2 class="font-medium" mat-dialog-title><strong>{{action}} Paid</strong></h2>
<mat-dialog-content class="pb-3 mat-typography" style="width: 500px" *ngIf="action != 'Delete'; else elseTemplate">
  <form [formGroup]="form">
    

    <div fxLayout="row wrap" class="align-items-center">
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field appearance="fill">
            <mat-label>Paid At</mat-label>

            <input
              matInput
              [matDatepicker]="picker"
              formControlName="paiddate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="100" fxFlex.gt-md="100">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input
              matInput
              type="number"
              name="paid"
              formControlName="paid"
              placeholder="Paid"
            />
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="100" fxFlex.gt-md="100">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <mat-select
              name="method"
              formControlName="method"
              placeholder="Method"
              id="method"
              (selectionChange)="selectMethod($event)"
            >
              <mat-option *ngFor="let method of methods" [value]="method.value">
                {{ method.viewValue }}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="productForm.get('categoryId').invalid"
                          >please insert product category
                        </mat-error> -->
          </mat-form-field>
        </div>
      </div>

      <div class="d-flex align-items-center m-b-15" *ngIf="isShow">
        CheckImg
        <img class="mat-card-avatar" [src]="recordData.checksImgPath" />
        <button
          mat-raised-button
          color="primary"
          class="m-l-15 input-file-button"
        >
          <input  type="file" (change)="onSelectFile($event)" />
        </button>
        <span *ngIf="fileError" class="bg-danger p-10 text-white">{{
          fileError
        }}</span>
      </div>

      <div fxFlex="100" fxFlex.gt-md="100">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input
              matInput
              type="text"
              name="notes"
              formControlName="notes"
              placeholder=" Notes"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
    <button
      mat-button
      (click)="doAction()"
      mat-flat-button
      color="warn"
      [disabled]="!form.valid"
    >
      {{ action }}
    </button>
    <button mat-button (click)="closeDialog()">Cancel</button>
  </form>

  <div></div>
</mat-dialog-content>
<ng-template #elseTemplate>
    <p>Sure to delete <b>  </b> ?</p>
    <div mat-dialog-actions align="end" class="pt-3">
        <button mat-button (click)="doAction()" mat-flat-button color="warn">{{action}}</button>
        <button mat-button (click)="closeDialog()">Cancel</button>
    </div>
</ng-template>
