<mat-card>
  <mat-card-content>
    <!-- Row -->
    <div fxLayout="row wrap" class="course-app">
      <!-- column -->
      <div fxFlex.gt-lg="50" fxFlex.gt-xs="50" fxFlex="100">
        <app-calc-hr (caclHrEvent)="calculateSalary($event)"></app-calc-hr>
      </div>
      <div fxFlex.gt-lg="50" fxFlex.gt-xs="50" fxFlex="100">
        <app-getlast-salaries (getSalarisByMonthEvent)="getSalarisByMonth($event)"></app-getlast-salaries>
      </div>
    </div>
    <div fxLayout="row wrap">
      <!-- Column-->
      <div fxFlex.gt-lg="40" fxFlex.gt-xs="40" fxFlex="100">
        <app-all-salaries [salaries]="salaries"></app-all-salaries>
      </div>
      <!-- Column-->
      <div fxFlex.gt-lg="60" fxFlex.gt-xs="60" fxFlex="100">
        <app-last-salaries [lastSalary]="salaryByMonth"></app-last-salaries>
      </div>
      <!-- Column-->
    </div>
  </mat-card-content>
</mat-card>
